pipeline/incremental_data_load.json
{
	"name": "incremental_data_load",
	"properties": {
		"activities": [
			{
				"name": "last_load",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select * from watermark_table",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_sqldb",
						"type": "DatasetReference",
						"parameters": {
							"table_name": "watermark_table",
							"file_name": "car_sales_data_new.csv"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "current_load",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select max(price) as highest_price from source_cars_data",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_sqldb",
						"type": "DatasetReference",
						"parameters": {
							"table_name": "source_cars_data",
							"file_name": "car_sales_data_new.csv"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Copy_incremental_data",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "last_load",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "current_load",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select * from source_cars_data \nwhere price >'@{activity('last_load').output.value[0].last_load}'\nand price <='@{activity('current_load').output.value[0].highest_Price}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "ds_sqldb",
						"type": "DatasetReference",
						"parameters": {
							"table_name": "source_cars_data",
							"file_name": "car_sales_data_new.csv"
						}
					}
				]
			},
			{
				"name": "watermark_update",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Copy_incremental_data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[UpdateWaterMarkTable]",
					"storedProcedureParameters": {
						"last_load": {
							"value": {
								"value": "@activity('current_load').output.value[0].highest_price",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "is_sql_db",
					"type": "LinkedServiceReference"
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2025-12-06T17:10:22Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}